body {
  overflow-x: hidden; }

header {
  background: url("../assets/img/slider/img_bg_slider_home01.jpg") no-repeat;
  background-size: cover;
  height: 100vh; }
  header div.header--section {
    display: flex;
    flex-direction: row; }

.header--nav {
  padding-top: 20px;
  width: 70%;
  display: flex;
  /*justify-content: space-between;*/ }

.header--button {
  display: flex;
  justify-content: space-around; }

.main--heading {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 30px; }

.main--heading + a {
  color: white;
  border: 1px solid white;
  padding: 20px;
  margin-left: 30px;
  transition: all 1s ease-in-out; }
  .main--heading + a:hover {
    background: white;
    color: #c8a96a; }

.menu-responsive {
  filter: invert(100%);
  height: 100px;
  width: 100px; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header--nav {
    display: flex;
    justify-content: flex-end; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .phone {
    display: none; }

  .navbar {
    display: none; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .phone {
    display: block; }

  .navbar {
    display: block; }

  .menu-responsive {
    display: none; }

  .navbar-responsive {
    display: none; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
.navbar ul {
  list-style-type: none;
  display: flex;
  width: 30%;
  margin: 0; }
.navbar .navbar--link {
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px; }
  .navbar .navbar--link:hover {
    color: #c8a96a; }

a {
  text-decoration: none; }

.chef {
  background: black; }
  .chef h2 {
    padding-top: 15px;
    color: white;
    text-align: center; }
  .chef h3 {
    padding-bottom: 15px;
    color: white;
    text-align: center; }
  .chef figure {
    position: relative; }
    .chef figure img {
      display: block; }
      .chef figure img:hover + figcaption {
        opacity: 0.8;
        top: 67%; }
    .chef figure figcaption {
      opacity: 0;
      background: black;
      position: absolute;
      top: 100%;
      width: 100%;
      /*top: -134px;*/
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .chef figure h2 {
      color: white; }
    .chef figure a {
      float: left;
      color: white;
      padding: 2px; }
    .chef figure ul.social {
      display: flex;
      flex-direction: row;
      /*align-items: flex-start;*/
      justify-content: space-evenly; }
      .chef figure ul.social i {
        font-size: 2rem; }

@media screen and (min-width: 1200px) {
  .chef ul:first-of-type:not(ul.social) {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 80%; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .chef figure {
    position: relative; }
    .chef figure img {
      display: block; }
      .chef figure img:hover + figcaption {
        opacity: 0.8;
        top: 45%; }
  .chef ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    /*display: grid;
    grid-template-columns: auto ;*/
    /*width: 100%;*/ }
  .chef figure {
    margin: 0;
    width: 100%; }
    .chef figure img {
      width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .chef ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin: 0;
    padding: 0; }
  .chef figure {
    margin: 0;
    width: 100%; }
    .chef figure img {
      width: 100%; }
      .chef figure img:hover + figcaption {
        opacity: 0.8;
        top: 83%; } }
@media screen and (min-width: 578px) and (max-width: 768px) {
  .chef section:first-of-type {
    width: 100%; }
  .chef ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .chef li {
    margin-top: 20px; }
  .chef figure {
    margin: 0;
    width: 100%; }
    .chef figure img {
      display: block;
      width: 100%; }
      .chef figure img:hover + figcaption {
        opacity: 0.8;
        top: 80%; } }
@media screen and (max-width: 480px) {
  .chef {
    background: cyan; }
    .chef ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: 100%; }
    .chef figure {
      margin: 0; }
      .chef figure img {
        width: 100%; } }
.food {
  background: #F9F6F0;
  margin: 0;
  margin: 0; }
  .food div {
    text-align: center;
    margin: 0;
    /*padding: 60px;*/ }
  .food h2 {
    font-size: 4rem; }
  .food h3 {
    font-size: 1.5rem;
    margin: 0; }
  .food ul {
    list-style-type: none;
    margin: auto;
    display: grid;
    grid-auto-rows: auto;
    /*display: flex;*/
    /*justify-content: space-between;*/ }
  .food li {
    background: white;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    transition: all 1s ease-in-out; }
    .food li:hover {
      background: #c8a96a; }
    .food li:hover i {
      color: white;
      transform: rotateY(360deg); }
  .food i {
    color: #c8a96a;
    font-size: 45px;
    position: relative;
    bottom: 40px;
    transition: all 1s ease-in-out; }

@media screen and (min-width: 1200px) {
  .food {
    height: 200vh; }
    .food ul {
      margin-top: 100px;
      display: flex;
      justify-content: space-around; }
    .food li {
      width: 200px; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .food {
    height: 120vh; }
    .food ul {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 1rem; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .food {
    height: 120vh; }
    .food ul {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 1rem; } }
@media screen and (min-width: 578px) and (max-width: 768px) {
  .food {
    display: block; }
    .food ul {
      margin: 0px;
      padding: 0px; }
    .food li {
      margin: 10px;
      display: flex;
      align-items: center; } }

/*# sourceMappingURL=style.css.map */
