@import "Utils/variables.scss";
@import "Utils/_mixin.scss";
@import "Utils/_utils.scss";
@import "Layout/_blog.scss";
@import "Layout/_partenaires.scss";
*{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Forum', cursive;
    font-family: 'Open Sans', sans-serif;
  }
