/*
@import "sass/Utils/variables.scss", "sass/Utils/mixins.scss";



footer {
  margin: auto;
  width: 80%;
  height: 80vh;
  padding: 3em;
  color: $font-color-footer;
  background-image: url(assets/img/footer/img-ng-footer.jpg);
  background-position: center;
  background-size: contain;
  font-family: $font-footer;

  .footer_logo {
    @include display-flex-base;
  }

  .footer {
    @include display-flex-footer;
  }
  
  .footer_column {
    @include list-style-padding;
    li {
      padding: 8px;
    }
  }

  .footer_list {
    !* @include display-flex-column; *!
    list-style-type: none;
    text-align: left;
    padding: 0px 0px 10px 31,5px;
    gap: 30px;
  }
  h3 {
    @include title-style;
  }
  a {
    color: $font-color-text-footer;
    text-decoration: none;
  }
  .row2{
      .title_footer{
        margin-block-start: 0;
        padding-inline-start: 0;
      }
    
  }
  .footer_row {
    display: block;
    padding: 25px 0px 10px 31.5px;
    gap: 30px;
    list-style: none;
      &:nth-child(2){
        padding-top: 0;
      }
    }
    p{
      line-height: 32px;
      !*margin-bottom: 20px;*!
      color: $font-color-text-footer;
      margin: 0;
      padding: 8px;
    }
    i{
      margin-right: 10px;
      color: $color-beige;
    }
    li {
      text-align: left;
      !*margin-right: 10px;*!
      color: $font-color-text-footer;
      list-style: none;
    }

   
    .form {
      @include display-flex-base;
      input {
      padding: 10px;
      align-items: center;
      border: none;
      width: 100%;
      
      }
       button {
        background-color: $color-beige;
        border: none;
        width: fit-content;
        padding: 3.5px;
      }
       i{
        padding: 8px;
      }
    }

  }
 
  

  .footer_fdp {
    @include display-flex-row;
    justify-content: space-around;
    margin: auto;
    list-style-type: none;
    padding: 70px 0px 25px;
    border-top: 1px solid $font-color-footer;
    a {
      color: $color-beige;
      
    }
  
    .footer_socials {
      list-style-type: none;
      @include padding-magin-0;
      
      li {
        display: inline-block;
      }
      :hover {
        background-color: $color-beige;
        border-radius: 50%;
      }
    }
    i {
      width: 30px;
      line-height: 30px;
      text-align: center;
      color: #999ca5;
      border-radius: 50%;
      font-size: 13px;
      background-color: rgb(35, 38, 39);
    }
  }

  .footer_fork {
    width: 100%;
    height: auto;
    max-width : 80px;
    max-height : 96px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
  } 
*/


  // footer responsive


@import "sass/Utils/variables.scss";
@import "sass/Utils/mixins.scss";

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    size: 50%;
  }


  .fdp {
    margin-top: 5px;
    .footer_socials {
      display: grid;
      grid-template-rows : repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

footer {
  margin: auto;
  width: 80%;
  min-height: 80vh;
  padding: 3em;
  color: $font-color-footer;
  background-image: url(assets/img/footer/img-ng-footer.jpg);
  background-position: center;
  background-size: contain;
  font-family: $font-footer;


  .footer_logo {
    @include display-flex-base;
    width: 100%;

  }

  .footer {
    @include display-flex-footer;
    margin:auto;
  }

  .footer_column {
    @include list-style-padding;
    li {
      padding: 8px;
    }
  }

  .footer_list {
    /* @include display-flex-column; */
    list-style-type: none;
    text-align: left;
    padding: 0px 0px 10px 31,5px;
    gap: 30px;
  }
  h3 {
    @include title-style;
  }
  a {
    color: $font-color-text-footer;
    text-decoration: none;
  }
  .row2{
    .title_footer{
      margin-block-start: 0;
      padding-inline-start: 0;
    }

  }
  .footer_row {
    display: block;
    padding: 25px 0px 10px 31.5px;
    gap: 30px;
    list-style: none;
    &:nth-child(2){
      padding-top: 0;
    }
  }
  p{
    line-height: 32px;
    /*margin-bottom: 20px;*/
    color: $font-color-text-footer;
    margin: 0;
    padding: 8px;
    word-wrap: break-word;
  }
  i{
    margin-right: 10px;
    color: $color-beige;
  }
  li {
    text-align: left;
    /*margin-right: 10px;*/
    color: $font-color-text-footer;
    list-style: none;
  }


  .form {
    @include display-flex-base;
    input {
      padding: 10px;
      align-items: center;
      border: none;
      min-width: 100px;

    }
    button {
      background-color: $color-beige;
      border: none;
      width: fit-content;
      padding: 3.5px;
    }
    i{
      padding: 8px;
    }
  }

}



.footer_fdp {
  @include display-flex-row;
  justify-content: space-around;
  margin: auto;
  list-style-type: none;
  padding: 70px 0px 25px;
  border-top: 1px solid $font-color-footer;
  a {
    color: $color-beige;

  }

  .footer_socials {
    list-style-type: none;
    @include padding-magin-0;

    li {
      display: inline-block;
    }
    :hover {
      background-color: $color-beige;
      border-radius: 50%;
    }
  }
  i {
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #999ca5;
    border-radius: 50%;
    font-size: 13px;
    background-color: rgb(35, 38, 39);
  }
}

.footer_fork {
  width: 100%;
  height: auto;
  max-width : 80px;
  max-height : 96px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}

/*# sourceMappingURL=style.scss.map */



/*# sourceMappingURL=style.scss.map */
