

.gallery--section figure{
  margin:10px;
  position: relative;
  & figcaption{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 40%;
    text-align: center;
    opacity: 0;
    color: white;
    transition: opacity 1s ease-in-out;
  }
  &:hover figcaption{
    background:rgba(0,0,0,0.5);
    opacity: 1;

  }

}
.gallery--section figure img{
  width: 100%;
}
.gallery--section div:first-of-type{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0;
}
.gallery--section div:last-of-type{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0;
}


@media only screen and (max-width: 600px) {
  .gallery--section div:first-of-type,.gallery--section div:last-of-type{
    display: block;
  }
}



@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {


}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {

}

