.navbar{
  & ul{
    list-style-type: none;
    display: flex;
    width: 30%;
    margin: 0;
  }
  & .navbar--link{
    color: white;
    text-decoration: none;
    @include padding($left:20px,$right:20px);
    &:hover{
      color: #c8a96a;
    }
  }
}