.chef{
  background: black;
  //padding: 100px;
  & h2{
    padding-top: 15px;
    color: white;
    @include alignement(center);
  }
  & h3{
    padding-bottom: 15px;
    color: white;
    @include alignement(center);
  }

  & figure{
    position: relative;
    & img {
      display: block;
      &:hover+figcaption  {
        opacity:0.8;
        top: 67%;
      }
    }
    & figcaption{
      opacity: 0;
      background: black;
      position: absolute;
      top: 100%;
      width: 100%;
      /*top: -134px;*/
   @include transition();
    }
    & h2{
      color: white;
    }
    & a{
      float: left;
      color: white;
      padding: 2px;
    }

    & ul.social{
      display: flex;
      flex-direction: row;
      /*align-items: flex-start;*/
      justify-content: space-evenly;
      & i {
        font-size: 2rem;
      }
    }

  }


}
@media screen and (min-width: 1200px) {
.chef {
  & ul:first-of-type:not(ul.social){
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    //margin: auto;
  }
}
}
@media screen and (min-width: 992px) and (max-width: 1200px)
{
  .chef{
    & figure {
      position: relative;
      & img {
        display: block;

        &:hover + figcaption {
          opacity: 0.8;
          top: 45%;
        }
      }
    }
    & ul{
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;

      /*display: grid;
      grid-template-columns: auto ;*/
      /*width: 100%;*/
    }
    & figure{
      margin:0;
      width: 100%;
      & img{
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px)
{
  .chef{
    & ul{
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto;
      gap:30px;
      margin: 0;
      padding: 0;

    }
    & figure{
      margin:0;
      width: 100%;


      & img{
        width: 100%;
        &:hover + figcaption {
          opacity: 0.8;
          top: 83%;
        }
      }
      }
    }
  }

@media screen and (min-width: 578px)  and (max-width: 768px) {
  .chef{
    & section:first-of-type{
      width: 100%;
    }
    & ul{

      margin: 0px;
      padding: 0px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    & li {
      margin-top: 20px;
    }
    & figure{
      margin:0;
      width: 100%;

      & img {
        display: block;
        width: 100%;

        &:hover + figcaption {
          opacity: 0.8;
          top: 80%;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .chef{
    background: cyan;
    & ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    & figure{
      margin:0;
      & img{
        width: 100%;
      }
    }
  }
}