.section-4{
  background: rgb(249,246,240);
}
.section-4-items{
  background: white;
}
.price {
  color:#C8A96A;
  font-size: 4rem;
}
.section-4 h2,.section-4 h3{
  text-align: center;
  margin: 0px;
}
.section-4 h3{
  margin: 30px;
}
.section-4 h2{
  font-size: 4rem;

}

@media only screen and (max-width: 600px){}

@media only screen and (min-width: 600px) and (max-width: 768px){
  .section-4-container{
    margin: 0px;
    display: grid;
    grid-template-columns: auto ;
    width: 100%;

    background: rgb(249,246,240);
    & div.section-4-items{
      margin: 30px;
      padding: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        border: 4px dotted black;
      }
    }
  }

  .section-4 img:last-of-type, .section-4 img:first-of-type {
    display: none;

  }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
  .section-4-container{
    background: rgb(249,246,240);
    & div.section-4-items{
      margin: 30px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }

  }
  .section-4 img{
    display: none;

  }

}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .section-4-container {

    display: grid;
    grid-template-columns: auto  auto;
    width: 80%;
    margin: auto;
    background: rgb(249, 246, 240);

    & div.section-4-items {
      margin: 30px;
      padding: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        border: 4px dotted black;
      }
    }
  }


  .section-4-items {
    background: white;
    z-index: 3;
  }
  .section-4 img {
    position: absolute;
    z-index: 1;

  }
  .section-4 {
    position: relative;
  }

  .section-4 img:first-of-type {
    top: 500px;
  }
  .section-4 img:last-of-type {

    left: 60%;
    bottom: 5px;
    height: 925px;
    z-index: 2;

  }
}

@media only screen and  (min-width: 1200px) {

  .section-4-container {

    display: grid;
    grid-template-columns: auto  auto;
    width: 80%;
    margin: auto;
    background: rgb(249, 246, 240);

    & div.section-4-items {
      margin: 30px;
      padding: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        border: 4px dotted black;
      }
    }
  }


  .section-4-items {
    background: white;
    z-index: 3;
  }
  .section-4 img {
    position: absolute;
    z-index: 1;

  }
  .section-4 {
    position: relative;
  }

  .section-4 img:first-of-type {
    top: 500px;
  }
  .section-4 img:last-of-type {

    left: 60%;
    bottom: 5px;
    height: 925px;
    z-index: 2;

  }
}


