@mixin button($backgroundColor,$mainColor)
{

}

@mixin position($top:0,$right:0,$left:0,$bottom:0){
  top: $top;
  right: $right;

 // bottom: $bottom;
  left: $left;
}

@mixin font-size($size) {
  font-size:$size;
}