
a {
  text-decoration: none;
}


.btn  {
  background: white;
  border: none;
  text-decoration: none;
  text-decoration-color:none;
  padding: 10px;
  border-radius: 8px;
  transition: background 1s ease-in-out;
  &:hover{
    background:#c8a96a ;
  }
}
