
$font-color-title-footer: #ffff;
$font-color-text-footer: #FFFFFF99;
$font-color-footer: rgb(92, 92, 82);
$link-color: rgb(156, 155, 155);
$font-footer: 'Forum', cursive;
$font-text-footer: 'Open Sans', sans-serif;
$color-beige: rgb(200, 169, 105);
 

