
$font-color-title-footer: #ffff;
$font-color-text-footer: #FFFFFF99;
$font-color-footer: rgb(92, 92, 82);
$link-color: rgb(156, 155, 155);
$font-footer: 'Forum', cursive;
$font-text-footer: 'Open Sans', sans-serif;
$color-beige: rgb(200, 169, 105);
$font-family: 'Forum', cursive;
$font-family-text: 'Open Sans', sans-serif;


$color-button-i: color rgb(200, 169, 106);
$color-text-1: color rgb(176, 176, 176);
$color-text-2: color rgb(67,67,66);



$mainColor : #C8A96A;
 

